PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=

# Mailchimp for QCFT newsletter
MAILCHIMP_QCFT_API_KEY=
MAILCHIMP_QCFT_SERVER=  # e.g., us1, us2 (found in your API key URL)
MAILCHIMP_QCFT_LIST_ID=

# Mailchimp for Here for Good Business Cooperative
MAILCHIMP_HFGBC_API_KEY=
MAILCHIMP_HFGBC_SERVER=  # e.g., us1, us2 (found in your API key URL)
MAILCHIMP_HFGBC_LIST_ID=

# Eventbrite
EVENTBRITE_API_TOKEN=
EVENTBRITE_ORGANIZATION_ID=
EVENTBRITE_WEBHOOK_SECRET=
VERCEL_DEPLOY_HOOK_URL=
