---
const { title, textContent, variant } = Astro.props;
---

<div
  class={`${variant === "transparent" ? "bg-transparent" : "bg-accent/20"} rounded-2xl p-4 space-y-2`}
>
  <h2 class="font-ubuntu font-semibold text-2xl">{title}</h2>
  {textContent && <p class="opacity-80">{textContent}</p>}
</div>
