---
import Welcome from "@/components/sections/Welcome.astro";
import Contact from "@/components/sections/Contact.astro";
import Layout from "@/layouts/Layout.astro";
import Programs from "@/components/sections/Programs.astro";
import Featured from "@/components/sections/Featured.astro";
---

<Layout
  description="A neighborhood-based community development org working at the intersection of faith, culture, and social change."
  slug=""
  title="QC Family Tree"
>
  <div class="space-y-24 pb-24">
    <Welcome />
    <Programs />
  </div>
  <Featured />
  <Contact />
</Layout>
