---
import culturalOrganizingImage from "../assets/cultural-organizing.jpg";
import cultivateCommunityImage from "../assets/cultivate-community.jpg";
import commonGoodImage from "../assets/common-good.jpg";

import AboutCarousel from "@/components/about-carousel";
---

<section id="about" class="px-4 w-full">
  <AboutCarousel
    slidesContent={[
      {
        title: "Cultural Organizing",
        description:
          "Through practices of cultural organizing, we expand imagination and make connections.",
        image: culturalOrganizingImage.src,
      },
      {
        title: "Cultivate Community",
        description:
          "We practice collective action. We celebrate, rely on, share, and focus on assets, gifts, and natural resources of land and people.",
        image: cultivateCommunityImage.src,
      },
      {
        title: "Common Good",
        description:
          "We believe our liberation is wrapped up in the liberation of the poor and marginalized of our place and society.",
        image: commonGoodImage.src,
      },
    ]}
    client:visible
  />
  <a
    role="button"
    class="w-full bg-accent block text-accent-foreground hover:bg-accent-foreground-hover font-semibold text-center mx-auto p-2 mt-10 max-w-md rounded-2xl"
    href="https://www.qcfamilytree.org/about/who-we-are">Learn More</a
  >
</section>
