---
import { defineQuery } from "groq";
import { sanityClient } from "sanity:client";
import { type Banner } from "sanity.types";
import { FileText } from "lucide-react";

const BANNER_QUERY = defineQuery(`*[_type == "banner"]`);

const bannerData = await sanityClient
  .fetch<Banner[]>(BANNER_QUERY)
  .catch((error: unknown) => {
    console.error("Error fetching banner:", error);
  });

const banner = bannerData?.at(0);
---

{
  banner && (
    <div class="bg-secondary/20 flex justify-center items-center w-full h-12 gap-4 px-4">
      <div class="flex items-center gap-2">
        <FileText className="size-4 text-secondary/70 flex-shrink-0" />
        <h1 class="text-slate-600 sm:text-base text-sm">{banner.title}</h1>
      </div>
      <a
        class="sm:text-base text-sm text-secondary underline"
        href={banner.primaryCtaLink}
      >
        {banner.primaryCtaLabel}
      </a>
    </div>
  )
}
